<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='taskbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='infobox.css') }}">
    <script src="{{ url_for('static', filename='eventListeners.js') }}"></script>
    <title>Schedule Payment</title>
</head>
<body>
    <div class="login-container">
        <h2>Budget Buddy</h2>
        <h1>Schedule Payments</h1>
        <form action="{{ url_for('schedule_payments') }}" method="POST">
            <div class="form-group">
                <label for="goal_date">Goal Date</label>
                <input type="date" id="goal_date" name="goal_date" required>
            </div>
            <div class="form-group">
                <label for="yearly_income">Yearly Income</label>
                <input class="money-input" type="text" id="yearly_income" name="yearly_income" placeholder="$0.00" required>
            </div>
            <div class="form-group">
                <div class="label-box">
                    <label for="payment_intervals">Payment Intervals</label>
                    <div class="info-icon" tabindex="0">
                        i
                        <div class="info-box">
                            This is the length of the interval in days that you will make payments in.
                        </div>
                    </div>
                </div>
                <input type="number" id="payment_intervals" name="payment_intervals" min="0" max='365' required>
            </div>
            <button type="submit" class="login-btn">Schedule Payment</button>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error-message">{{ messages[-1] }}</div>
                {% endif %}
            {% endwith %}
        </form>
    </div>
    <div class="taskbar">
        <div class="button-holder">
            <button class="taskbar-button" id="payment-button">
                <img src="{{ url_for('static', filename='icons/payment_icon.png') }}">
            </button>
            <button class="taskbar-button" id="home-button">
                <img src="{{ url_for('static', filename='icons/home_icon.png') }}">
            </button>
            <button class="taskbar-button selected" id="calendar-button">
                <img src="{{ url_for('static', filename='icons/calendar_icon.png') }}">
            </button>
        </div>
    </div>
</body>
</html>
